@{
  Layout = "_Layout";
}

@model PierresTreats.Models.Treat

<h2>Edit this pastry:</h2>

<h4>@Html.DisplayFor(model => model.TreatName)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.TreatId)

  @Html.LabelFor(model => model.TreatName)
  @Html.EditorFor(model => model.TreatName, new { @class = "form-control"})

  @Html.Label("What flavor is this treat?")
  @Html.DropDownList("FlavorId")

  <input type="submit" value="Save" class="btn btn-default"/>
}
<li>@Html.ActionLink("Back to treat details", "Details", new {id = Model.TreatId})</li>
<p>@Html.ActionLink("Back to list", "Index")</p>